client/yolo3/__pycache__/
client/__pycache__/
client/logs/
client/model_data/yolov3-tiny.conv.11
data/Annotation
data/Annotation.zip
data/CL1/
data/CL2/
data/CLS/
data
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                     
