src/yolo3/__pycache__/
src/.ipynb_checkpoints/
src/__pycache__/
src/logs/
src/model_data/yolov3-tiny.conv.11
data/Annotation
data/Annotation.zip
data/CL1/
data/CL2/
data/CLS/
src/test_model
fl_interface/FEDn/certificates/combiner*
fl_interface/FEDn/certificates/reducer*
fl_interface/FEDn/certificates/client*
*~
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                                                                                                                                                                                                                                
~                     
